.error-page {
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;

    text-align: center;

    background: var(--background);
}


.error-content {
    max-width: 600px;
}


.error-code {
    display: block;

    color: var(--green);

    font-size: 110px;
    font-weight: 900;

    line-height: 1;
}


.error-content h1 {
    font-size: 35px;

    margin: 15px 0;
}


.error-content p {
    color: var(--text-light);

    margin-bottom: 25px;
}


@media (max-width: 600px) {

    .error-code {
        font-size: 80px;
    }

}